<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-2 myCentre">
                <div>
                    <img src="/images/android-chrome-512x512.png" width="150" style="margin-top: 25pt">
                </div>
            </div>
            <div class="col-md-10 myCentre">
                <div>
                    <h1>Crypto-trader</h1>
                    <p>Provides insight into your crypto currency trading</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Welcome</h2>
            <p>Some stuff that this application does</p>
            <ul>
                <li><a href="/coinbase/currencies">Currencies</a></li>
                <li><a href="/coinbase/products">Products</a></li>
                <li><a href="/coinbase/accounts">Accounts</a></li>
            </ul>
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>
    </div>

    <hr>
</div>